<!DOCTYPE html>
<html>
<head><title>{{wholeText}}</title>
    <meta charset="utf-8"/>
    <meta property="og:title" content="{{wholeText}}"/>
    <meta property="og:description" content="{{wholeText}}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@saaas"/>
    <meta name="twitter:title" content="SAAAS: SArcasm As A Service"/>
    <meta name="twitter:description" content="{{wholeText}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="/resource.css" rel="stylesheet"/>
    <link rel="icon" type="image/svg+xml" href="favicon.svg"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>
<body style="margin-top:40px;">
<div class="container">
    <div id="view-10">
        <div class="hero-unit"><h1>{{message}}</h1>
            <p><em>{{salutation}}</em></p></div>
    </div>
    <p style="text-align: center"><a href="https://www.saaas.me">saaas.me</a></p></div>
</body>
</html>